.modular-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert();
    user-select: none;
    pointer-events: none;
}

.modular-spinner > img {
    height: 80%;
    max-width: 60px;
    max-height: 60px;
    animation: spin 1500ms linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}